Simple_Clock/[Ll]ibrary/
Simple_Clock/[Tt]emp/
Simple_Clock/[Oo]bj/
Simple_Clock/[Bb]uild/
Simple_Clock/[Bb]uilds/
Simple_Clock/[Ll]ogs/
Simple_Clock/[Uu]ser[Ss]ettings/
Simple_Clock/[Mm]emoryCaptures/
Simple_Clock/[Rr]ecordings/
Simple_Clock/[Aa]ssets/Plugins/Editor/JetBrains*
Simple_Clock/.vs/
Simple_Clock/.gradle/
Simple_Clock/ExportedObj/
Simple_Clock/.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

Simple_Clock/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

Simple_Clock/[Aa]ssets/[Ss]treamingAssets/aa.meta
Simple_Clock/[Aa]ssets/[Ss]treamingAssets/aa/*

Simple_Clock/Assets/TextMesh Pro
